.venv
*.py[co]
*.mo

# IDE specific
*.directory
.project
.pydevproject
.settings
.vscode
*.sublime-project
*.sublime-workspace
*.sw[po]
*~

# SQLite databases
.sqlite

# coverage data file
.coverage
.coverage.*

# pytest's working directory
.cache
.pytest_cache

# tox working directory
.tox/

# a3m data dir for Compose volume
/hack/compose-volume
