repos:
- repo: https://github.com/ambv/black
  rev: 19.10b0
  hooks:
  - id: black
    args: [--safe, --quiet]
    language_version: python3
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.7.9
  hooks:
  - id: flake8
    language_version: python3
- repo: https://github.com/asottile/reorder_python_imports
  rev: v1.4.0
  hooks:
  - id: reorder-python-imports
    args: ["--application-directories=.:src"]
- repo: https://github.com/jazzband/pip-tools
  rev: 5.0.0
  hooks:
  - id: pip-compile
    files: ^requirements\.(in|txt)$
    args: ["--output-file=requirements.txt", "requirements.in"]
- repo: https://github.com/jazzband/pip-tools
  rev: 5.0.0
  hooks:
  - id: pip-compile
    files: ^requirements-dev\.(in|txt)$
    args: ["--output-file=requirements-dev.txt", "requirements-dev.in"]
- repo: https://github.com/asottile/pyupgrade
  rev: v2.2.0
  hooks:
  - id: pyupgrade
    args: ["--py37-plus"]
