# Used by client modules
ammcpc~=0.1
metsrw~=0.3
bagit~=1.7
clamd~=1.0
lxml~=4.7
unidecode~=1.3
pygfried~=0.2

# Django ORM
Django~=3.2

# Infra
prometheus_client~=0.12
requests~=2.27
appdirs~=1.4
click~=8.0
rich~=10.16
tenacity~=8.0
boto3~=1.20

# MCPServer
jsonschema~=4.3
grpcio~=1.43
grpcio-reflection~=1.43
grpcio-status~=1.43
googleapis-common-protos~=1.54
