# Used by client modules
ammcpc~=0.1
metsrw~=0.3
bagit~=1.7
opf-fido~=1.4
clamd~=1.0
lxml~=4.7
unidecode~=1.1

# Django ORM
Django~=3.2

# Infra
prometheus_client~=0.8
requests~=2.24
appdirs~=1.4
click~=7.1
rich~=9.0
tenacity~=6.2
boto3~=1.14

# MCPServer
jsonschema~=4.2
grpcio~=1.31
grpcio-reflection~=1.31
grpcio-status~=1.31
googleapis-common-protos~=1.52
