name: Buf (push)
on:
  push:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: bufbuild/buf-setup-action@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - uses: bufbuild/buf-lint-action@v1
      with:
        input: proto
    # TODO: use buf-breaking-action when ready
    - uses: bufbuild/buf-push-action@v1
      with:
        input: proto
        buf_token: ${{ secrets.BUF_TOKEN }}
